.cart-container {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	border: 1px solid black;
}

.cart-left {
	width: 65%;

	padding-top: 40px;
}

.cart-right {
	width: 35%;
	padding-top: 40px;
	padding-right: 40px;
}
